@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1920px;
  min-height: 350px;
  margin: auto;
  overflow-x: hidden;
}

/* VERY TOP  */
.discount {
  max-width: 1920px;
  min-width: 350px;
  height: 40px;
  background: #faff05;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.discount h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #100e18;
}
/* NAVIGATION BAR  */
nav {
  max-width: 1920px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 50px;
}
@media (max-width: 1495px) {
  nav {
    gap: 200px;
  }
}
@media (max-width: 1290px) {
  nav {
    gap: 100px;
  }
}
@media (max-width: 1290px) {
  nav {
    gap: 50px;
  }
}
@media (max-width: 509px) {
  nav {
    gap: 20px;
    position: relative;
    left: 30px;
  }
}
@media (max-width: 750px) {
  .thumbnail {
    display: none;
  }
}
.auth {
  display: flex;
  gap: 36px;
  position: relative;
}
.auth img {
  cursor: pointer;
}
@media (max-width: 1290px) {
  .auth {
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .auth {
    bottom: 6px;
  }
  .auth img {
    bottom: 28px;
  }
}
@media (max-width: 509px) {
  .auth {
    gap: 10px;
  }
}
.auth img {
  width: 20px;
}
.two {
  position: absolute;
  left: 125px;
}
@media (max-width: 1290px) {
  .two {
    left: 92px;
  }
}
@media (max-width: 509px) {
  .two {
    left: 68px;
  }
}
.links {
  display: flex;
  gap: 70px;
  position: relative;
}
@media (max-width: 1290px) {
  .links {
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .links {
    display: none;
  }
}
.links a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #100e18;
  cursor: pointer;
}
.links .twenty {
  width: 24px;
  position: absolute;
  left: 190px;
}
@media (max-width: 1290px) {
  .links .twenty {
    left: 138px;
  }
}
/* BURGER  */
#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: black;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
}

#menu li {
  list-style: none;
  position: relative;
  right: 20px;
}
#menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

.burger {
  display: none;
}
@media (max-width: 750px) {
  .burger {
    display: block;
    position: relative;
    bottom: 45px;
    right: 100px;
  }
}

/* CONTENT  */
.content {
  max-width: 1920px;
  min-width: 350px;
  height: 960px;
  background: #c4140f;
  display: flex;
}
@media (max-width: 1400px) {
  .content {
    flex-direction: column;
    height: auto;
  }
}

.content .left {
  flex: 1;
  margin-left: 208px;
}
@media (max-width: 690px) {
  .content .left {
    margin-left: 50px;
  }
}
.left .nonsense h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.left .nonsense .line {
  width: 100px;
  height: 0px;
  border: 1px solid #faff05;
}
.left {
  margin-top: 214px;
}
@media (max-width: 900px) {
  .left {
    margin-top: 48px;
  }
}
.text h1 {
  width: 480px;
  height: 240px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  color: #ffffff;
}
@media (max-width: 530px) {
  .text h1 {
    width: 300px;
    font-size: 40px;
  }
}
.text button {
  width: 229px;
  height: 76px;
  background: #faff05;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: #100e18;
  border: none;
  cursor: pointer;
}
@media (max-width: 450px) {
  .text button {
    margin-bottom: 50px;
  }
}
.content .right {
  flex: 1;
}

.right {
  position: relative;
}
@media (max-width: 1140px) {
  .right {
    right: 200px;
  }
}
@media (max-width: 744px) {
  .right {
    right: 230px;
  }
}
.right .girl {
  position: relative;
  top: 63px;
  z-index: 1;
}
@media (max-width: 1400px) {
  .right .girl {
    top: 0;
    left: 560px;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 540px) {
  .right .girl {
    width: 400px;
    left: 490px;
  }
}
@media (max-width: 450px) {
  .right .girl {
    width: 300px;
    top: 0px;
    left: 450px;
  }
}
@media (max-width: 400px) {
  .right .girl {
    width: 300px;
    top: 0px;
    left: 420px;
  }
}
.yellow {
  position: relative;
  bottom: 690px;
  right: 80px;
}
@media (max-width: 675px) {
  .yellow {
    width: 550px;
    top: 124px;
  }
}
@media (max-width: 585px) {
  .yellow {
    width: 500px;
    top: 154px;
  }
}
@media (max-width: 540px) {
  .yellow {
    width: 450px;
    top: 104px;
    left: 35px;
  }
}
@media (max-width: 475px) {
  .yellow {
    width: 400px;
    top: 133px;
    left: 35px;
  }
}
@media (max-width: 450px) {
  .yellow {
    width: 400px;
    top: 41px;
    left: 78px;
  }
}
@media (max-width: 415px) {
  .yellow {
    width: 350px;
    top: 70px;
    left: 78px;
  }
}
@media (max-width: 365px) {
  .yellow {
    width: 300px;
    top: 100px;
    left: 85px;
  }
}
@media (max-width: 1400px) {
  .yellow {
    bottom: 0;
    right: 0;
  }
}
.right .fitness {
  position: absolute;
  top: 410px;
  right: 55px;
}
@media (max-width: 1575px) {
  .right .fitness {
    width: 800px;
    right: 400px;
    top: 500px;
  }
}
@media (max-width: 1400px) {
  .right .fitness {
    width: 800px;
    right: 350px;
    top: -200px;
  }
}
@media (max-width: 1355px) {
  .right .fitness {
    width: 800px;
    right: 250px;
    top: -200px;
  }
}
@media (max-width: 1264px) {
  .right .fitness {
    width: 800px;
    right: 200px;
    top: -200px;
  }
}
@media (max-width: 1215px) {
  .right .fitness {
    width: 500px;
    right: 400px;
    top: -200px;
  }
}
@media (max-width: 1140px) {
  .right .fitness {
    width: 500px;
    right: 120px;
    top: -200px;
  }
}
@media (max-width: 1035px) {
  .right .fitness {
    width: 500px;
    right: 20px;
    top: -200px;
  }
}
@media (max-width: 930px) {
  .right .fitness {
    width: 400px;
    right: 20px;
    top: -200px;
  }
}
@media (max-width: 830px) {
  .right .fitness {
    width: 400px;
    right: -100px;
    top: -200px;
  }
}
@media (max-width: 743px) {
  .right .fitness {
    width: 400px;
    right: -140px;
    top: -200px;
  }
}
@media (max-width: 690px) {
  .right .fitness {
    width: 400px;
    right: -90px;
    top: -200px;
  }
}
@media (max-width: 585px) {
  .right .fitness {
    width: 400px;
    right: -180px;
    top: -200px;
  }
}
@media (max-width: 504px) {
  .right .fitness {
    width: 300px;
    right: -180px;
    top: -250px;
  }
}

/* BELLAFIT  */
.bellafit {
  margin-top: 180px;
  height: auto;
  max-width: 1920px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.bellafit h4 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  color: #8a8a8a;
  flex-wrap: wrap;
}
.bellafit div {
  max-width: 1324px;
  margin: 0 20px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #100e18;
}
.bellafit button {
  background: #faff05;
  width: 264px;
  height: 76px;
  border: none;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: #100e18;
  margin-top: 50px;
  margin-bottom: 180px;
  cursor: pointer;
}
.thumbnail {
  cursor: pointer;
}

/* SCROLL  */
.scroll {
  max-width: 1921px;
  height: 1000px;
  min-width: 350px;
  background: url("./assets/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 40px;
  display: flex;
  align-items: center;
}

@media (max-width: 1360px) {
  .scroll {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 445px) {
  .scroll {
    display: none;
  }
}
.scrolll {
  max-width: 1921px;
  height: auto;
  min-width: 350px;
  background: url("./assets/background.jpg");
  display: flex;
  justify-content: center;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 445px) {
  .scrolll {
    display: block;
  }
}

.yellow-line {
  border: 2px solid #faff05;
  height: 0px;
  background-color: #faff05;
  width: 416px;
}

@media (max-width: 445px) {
  .yellow-line {
    width: 338px;
  }
}
@media (max-width: 430px) {
  .yellow-line {
    display: none;
  }
}

.recovery {
  height: 420px;
  width: 420px;
  border: 1px solid rgba(241, 235, 235, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 250px;
}
@media (max-width: 1360px) {
  .recovery {
    margin-top: 50px;
  }
}
@media (max-width: 445px) {
  .recovery {
    font-size: 15px;
    width: 340px;
    margin-left: 48px;
  }
}
@media (max-width: 425px) {
  .recovery {
    margin-left: 40px;
  }
}
@media (max-width: 410px) {
  .recovery {
    margin-left: 35px;
  }
}
@media (max-width: 400px) {
  .recovery {
    margin-left: 28px;
  }
}
@media (max-width: 390px) {
  .recovery {
    margin-left: 18px;
  }
}
@media (max-width: 370px) {
  .recovery {
    margin-left: 10px;
  }
}

.recovery h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
}

@media (max-width: 445px) {
  .recovery h1 {
    width: 338px;
    font-size: 25px;
  }
}
@media (max-width: 430px) {
  .recovery h1 {
    width: 338px;
    font-size: 22px;
  }
}
.recovery p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8a8a8a;
  margin-left: 50px;
}
@media (max-width: 445px) {
  .recovery p {
    font-size: 15px;
  }
}
@media (max-width: 430px) {
  .recovery p {
    width: 200px;
  }
}
.personal {
  background: #faff05;
  height: 436px;
  width: 420px;
  margin-top: 250px;
}
@media (max-width: 1360px) {
  .personal {
    margin-top: 50px;
  }
}
@media (max-width: 445px) {
  .personal {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: 55px;
  }
}
@media (max-width: 425px) {
  .personal {
    margin-left: 40px;
  }
}
@media (max-width: 405px) {
  .personal {
    margin-left: 30px;
  }
}
@media (max-width: 390px) {
  .personal {
    margin-left: 25px;
  }
}
@media (max-width: 380px) {
  .personal {
    margin-left: 20px;
  }
}
.personal h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #100e18;
  margin-left: 50px;
  margin-top: 50px;
}
@media (max-width: 445px) {
  .personal h1 {
    font-size: 20px;
    margin-left: 18px;
  }
}
.personal p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #100e18;
  margin-left: 50px;
}
@media (max-width: 445px) {
  .personal p {
    margin-left: 18px;
  }
}
@media (max-width: 430px) {
  .personal h1 {
    font-size: 20px;
    width: 100px;
    margin-top: 20px;
  }
  .personal p {
    margin-left: 18px;
    width: 230px;
  }
}
.personal .button {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: #c4140f;
  margin-left: 50px;
  cursor: pointer;
  margin-top: 40px;
}
@media (max-width: 445px) {
  .personal .button {
    width: 181px;
    margin-left: 18px;
  }
}
.group {
  height: 420px;
  width: 420px;
  border: 1px solid rgba(241, 235, 235, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 250px;
}

@media (max-width: 445px) {
  .group {
    width: 340px;
    margin-left: 12%;
  }
}
@media (max-width: 430px) {
  .group {
    width: 340px;
    margin-left: 40px;
  }
}
@media (max-width: 405px) {
  .group {
    width: 340px;
    margin-left: 30px;
  }
}
@media (max-width: 398px) {
  .group {
    width: 340px;
    margin-left: 20px;
  }
}
@media (max-width: 375px) {
  .group {
    width: 340px;
    margin-left: 10px;
  }
}
@media (max-width: 358px) {
  .group {
    width: 340px;
    margin-left: 7px;
  }
}
@media (max-width: 1360px) {
  .group {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.group h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
}
@media (max-width: 445px) {
  .group h1 {
    font-size: 25px;
  }
}
.group p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8a8a8a;
  margin-left: 50px;
}
@media (max-width: 445px) {
  .group p {
    font-size: 15px;
  }
}
@media (max-width: 430px) {
  .group p {
    margin-left: 50px;
    width: 250px;
  }
}
@media (max-width: 430px) {
  .group h1 {
    margin-left: 50px;
  }
}

/* SWIPER  */
.swiper-pagination-bullet-active {
  background-color: white !important;
}

/* CIRCLE  */
.circle {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 350px;
  height: 1120px;
  background: url("./assets/circle.svg");
}
@media (max-width: 1000px) {
  .circle {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.description {
  height: 690px;
  width: 600px;
  background: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  right: 130px;
  top: 200px;
  flex: wrap;
}
@media (max-width: 1670px) {
  .description {
    width: 400px;
    height: auto;
    margin: 0 50px;
  }
}
@media (max-width: 1460px) {
  .description {
    top: 550px;
  }
}
@media (max-width: 1000px) {
  .description {
    top: 500px;
    right: 20%;
  }
}
@media (max-width: 900px) {
  .description {
    top: 400px;
    right: 17%;
  }
}
@media (max-width: 700px) {
  .description {
    top: 350px;
    right: 13%;
  }
}
@media (max-width: 630px) {
  .description {
    top: 350px;
    right: 10%;
  }
}
@media (max-width: 600px) {
  .description {
    top: 300px;
    right: 8%;
  }
}
@media (max-width: 540px) {
  .description {
    top: 300px;
    right: 0%;
  }
}
@media (max-width: 490px) {
  .description {
    top: 250px;
    right: 0%;
  }
}
@media (max-width: 470px) {
  .description {
    top: 250px;
    right: -5%;
  }
}
@media (max-width: 445px) {
  .description {
    top: 250px;
    right: -8%;
  }
}
@media (max-width: 406px) {
  .description {
    top: 250px;
    right: -14%;
  }
}
@media (max-width: 385px) {
  .description {
    top: 250px;
    right: -5%;
    width: 300px;
  }
}

.list h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #100e18;
}
.list p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #100e18;
  opacity: 0.7;
  width: 450px;
  text-align: left;
}
@media (max-width: 415px) {
  .list p {
    width: 340px;
    font-size: 15px;
  }
}
@media (max-width: 1670px) {
  .list p {
    width: auto;
    margin: 0 20px;
  }
}

/* SERVICES  */
.services {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.services h4 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  color: #8a8a8a;
}
.services h2 {
  width: 1048px;
  height: 120px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #100e18;
}
@media (max-width: 1100px) {
  .services h2 {
    width: auto;
    height: auto;
    margin: 50px 20px;
  }
}
.services button {
  width: 280px;
  height: 76px;
  border: none;
  background: #faff05;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: #100e18;
  cursor: pointer;
}

/* SLIDER  */
.slider {
  max-width: 1920px;
  height: 800px;
}
.swiper {
  width: 700px;
}
@media (max-width: 716px) {
  .swiper {
    width: 500px;
  }
}
@media (max-width: 530px) {
  .swiper {
    width: 420px;
  }
}
@media (max-width: 430px) {
  .swiper {
    width: 320px;
  }
}
.swiper-scrollbar {
  position: absolute;
  bottom: 1000px;
}
.boxing {
  margin-bottom: 50px;
  margin-left: 90px;
}

@media (max-width: 716px) {
  .boxing img {
    width: 330px;
  }
}
@media (max-width: 430px) {
  .boxing img {
    width: 300px;
  }
}
.boxing h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #100e18;
}
.iron h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #100e18;
}
.iron {
  margin-left: 90px;
}
@media (max-width: 716px) {
  .iron img {
    width: 330px;
  }
}
@media (max-width: 430px) {
  .iron img {
    width: 300px;
  }
}
.stretch h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #100e18;
}
.stretch {
  margin-left: 90px;
}

@media (max-width: 716px) {
  .stretch img {
    width: 330px;
  }
}
@media (max-width: 430px) {
  .stretch img {
    width: 300px;
  }
}
.cardio h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #100e18;
}
.cardio {
  margin-left: 90px;
}
@media (max-width: 716px) {
  .cardio img {
    width: 330px;
  }
}
@media (max-width: 430px) {
  .cardio img {
    width: 300px;
  }
}
.swiper-button-prev {
  background-image: url("./assets/vector.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next {
  background-image: url("./assets/vector.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

/* PRICING  */
.pricing {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  background: #100e18;
}
.pricing h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffffff;
}
.pricing p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #8a8a8a;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderr {
  position: absolute;
  cursor: pointer;
  top: -3px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #100e18;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  border: 1px solid #8a8a8a;
}

.sliderr:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .sliderr {
  background-color: #2196f3;
}

input:focus + .sliderr {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .sliderr:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderr.round {
  border-radius: 50px;
}

.sliderr.round:before {
  border-radius: 50px;
}

.switchers {
  display: flex;
}
.check {
  display: flex;
  align-items: center;
}
.check h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  position: relative;
  right: 40px;
}

.up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media(max-width: 390px) {
  .up p {
    margin: 0 30px;
  }
  .switchers {
    margin-left: 40px;
  }
}
